#div-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: block 1px white;
    width: 300px;
    height: 400px;
    background-color: #000000;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 2%;
    margin-bottom: 2%;
}

#img-card {
    width: 70%;
    height:  70%;
}